<header>
  <!-- <h1>{{sectionHeader}}</h1> -->
  <h1>mars rover image app</h1>
</header>

  <nav>
    <button md-button routerLink="/opportunity" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true }">
      <mat-icon>collections</mat-icon>
      <div class="caption">opportunity</div>
    </button>
    <button md-button routerLink="/curiosity" routerLinkActive="active">
      <mat-icon>collections</mat-icon>
      <div class="caption">curiosity</div>
    </button>
    <button md-button routerLink="/spirit" routerLinkActive="active">
      <mat-icon>collections</mat-icon>
      <div class="caption">spirit</div>
    </button>
  </nav>


<router-outlet></router-outlet>